body{
  background-color: rgb(0, 0, 0);
}
.wraper{
  display: flex;
  align-items: center;
  background-color: rgb(36, 36, 36);
  justify-content: center;
  margin: 5vh 20vw 0 20vw;
  border-radius: 2dvh;
  height: 80vh;
  border: solid 5px yellow;
}
.container{
  text-align: center;
  justify-content: center;
}
.question-container{
  background-color: rgb(40, 47, 58);
  margin-top: 7vh;
  margin: 7vh 10vw 0 10vw;
  padding: 2vh 20vw 2vh 20vw;
  border-radius: 2dvh;
  border: solid 2px yellow;
  color:white
}

.answers-container{
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: space-around;
  /* align-content:  space-around; */
  gap: 1vh;
  margin: 10vh 5vw 10vh 5vw;
}

.answer-box{
  background-color: rgb(41, 32, 19);
  /* padding: 2vh 5vw 2vh 5vw; */
  border-radius: 2dvh;
  margin: 0 10vw 0 10vw;
  /* margin: 5vh  */
  border: solid 2px rgba(255, 255, 0, 0.329);
  color:white;
  cursor: pointer;
  transition: 0.5s;
}

.answer-box:hover{
  border-color: yellow;
}