@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
  background-image: url('../resources/quiz/background.jpg');
  font-family: 'Roboto', sans-serif;
}
.flex{
  display: flex;
  align-items: center;
  /* background-color: rgb(36, 36, 36); */
  justify-content: center;
  min-height: 100vh;
  color:white
}

.wraper{
  border-radius: 2dvh;
  border: solid 2px black;
  backdrop-filter: blur(7px);
  /* background-color: gray; */

  padding: 2rem 4rem 3.5rem 4rem;
  width: 50vw;
  height: 70vh;
  position: relative;
}

.question-title {
  text-align: center;
  margin-bottom: 1.2rem;
  font-weight: 600;
}

.question{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.answers-container {
  list-style-type: none;
  margin: 1rem 0;
  padding-left: 0;
}

.answers-container li {
  font-weight: 600;
  margin: 1rem 0;
  background-color: rgb(48, 48, 48);
  border-radius: 0.5rem;
  padding: 1rem 2.5rem;
  cursor: pointer;
  border: solid 2px black;
  box-shadow: 0 2px 2px 0 rgb(17, 17, 17);
  transition: 0.5s;
  color: rgb(214, 214, 214);
}

.answers-container li:hover{
  background-color: rgb(63, 63, 63);
  color: rgb(250, 250, 250);
  transform: scale(1.02);
}

.answers-container li:active{
  transform: scale(0.98);
}

/* selected button */
.selected{
  background-color: rgb(102, 102, 102) !important;
  color: rgb(255, 255, 255)!important;
}

.correct {
  background-color: rgba(84, 255, 61, 0.226) !important;
  color: rgb(255, 255, 255)!important;
  border-color: rgb(80, 250, 46)!important;
}

.correct ion-icon{
  color: green;
  font-size: 1rem;
}

.incorrect {
  background-color: rgba(250, 52, 52, 0.295) !important;
  color: rgb(255, 255, 255)!important;
  border-color: rgb(255, 43, 43)!important;
}

button{
  border: none;
  outline: 0;
  border-radius: 0.2rem;
  color: white;
  padding: 0.8rem 1.4rem;
  background-color: rgba(100, 100, 100, 0.281);
  margin: 1rem auto;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border: solid 2px black;
  box-shadow: 0 2px 2px 0 rgb(17, 17, 17);
  transition: 0.5s;
  display: block;
}
button:hover{
  background-color: rgb(63, 63, 63);
  color: rgb(250, 250, 250);
  transform: scale(1.02);
}

button:active{
  transform: scale(0.98);
}
/* #play-again{
  display:
} */
#result-modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.719);
  transition: visibility 0s, opacity 0.5s ease-out;
}

.modal {
  width: 50vw;
  height: 30vh;
  background-color: rgb(36, 36, 36);
  border-radius: 0.5rem;
  text-align: center;
  margin-top: -200%;
  transition: margin-top 1s;
}


#result{
  font-size: 2rem;
}


@media(max-width: 808px){
  .question-title{
    font-size: 1.6rem;
  }
  .wraper{
    /* margin: 2rem; */
    width: 90%;
    padding: 1.5rem 1rem 5rem 1rem;
  }
}


/* .question-container{
  text-align: center;
} */

/* .answers-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1vh;
  margin: 2vw 5vw 4vw 5vw;
  color: rgb(231, 231, 231);
} */

/* .answer-box{
  background-color: rgb(41, 32, 19);
  border-radius: 2dvh;
  margin: 0 10vw 0 10vw;
  border: solid 2px rgba(255, 255, 0, 0.329);
  color:white;
  cursor: pointer;
  transition: 0.5s;
  max-width: 30vw;
} */

/* .answer-box:hover{
  border-color: yellow;
} */
/* h3{
  margin-top: 1vh;
  margin-bottom: 3vh;
} */